body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    margin: 0%;
    padding: 20px;
    border: #efd2d2;
}

header {
    padding: 10px ;
    border: 2px solid #efd2d2;
    text-align:center;
    background-color: #ac6969;

    
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #b54444;
    padding: 10px;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 10px;
     
}

main img {
  width: 200px;
  height: 100px;  
  border-radius: 25px;
  

}

.machadodeassis {
    left: 50%;
    right: 50%;
}



.container {

display: flex;
padding: 10px;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
color:#a74a4a;



}

.imagem {
    overflow: hidden;
    border-radius: 25px;
    box-shadow: #ac6969;
    background-color: #fff;

}



footer {
    background-color: rgb(225, 164, 153);
    text-align: center;
    padding: 20px;
    color: #b54444;
    font-size: 28px;
    border-radius: 25px;
}

.container img,.machadoAssis img {
    border-radius: 40px;
}


