body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    margin: 0%;
    padding: 20px;
    border: #efd2d2;
}

header {
    padding: 10px ;
    border:#efd2d2
    
}

footer {
    background-color: rgb(225, 164, 153);
    text-align: center;
    padding: 20px;
    font: size 14px; ;
    color: black;
    font-size: 2px solid #ac6969 ;
}